.Home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Home main {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Home .list {
  padding: 10px;
  align-self: flex-start;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Home .text {
  font-size: 1.2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #8d8c8c;
}
