.Header {
  height: 200px;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(173deg, #ee4c77 24%, #0d0430 66%);
  color: white;
}

.Header .title {
  font-family: Roboto;
  font-size: 2.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.Header .input-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  width: 100%;
}
.Header input {
  flex-grow: 1;
  margin-right: 10px;

  padding: 10px;
  padding-left: 40px;
  border-color: transparent;
  border-bottom: 1px solid #fff;
  color: white;
  background: transparent;
}
.Header .searchbar-icon {
  color: white;
  font-size: 1.2rem;
}

.Header .searchbar-icon.search {
  position: absolute;
  left: 5px;
}

.Header .backBtn {
  position: absolute;
  left: 2.5rem;
  color: white;
  font-size: 1.2rem;
}

.Header .icon {
  position: absolute;
  right: 2.5rem;
  color: white;
  font-size: 1.2rem;
}
