.Login {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Login .modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 300px;
  width: 22rem;
}

.Login .modal .title {
  font-size: 1.6rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.2px;
  text-align: center;
  color: #383743;
}

.Login .modal .subtitle {
  font-size: 1.063rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: 0.2px;
  text-align: center;
  color: #383743;
}

.Login .modal .content-input {
  position: relative;
  width: 100%;

  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login .modal .content-input .icon {
  position: absolute;
  color: #ee4c77;
}
.Login .modal .content-input .start {
  left: 10px;
}
.Login .modal .content-input .end {
  /* top: 10px; */
  right: 10px;
}

.Login .modal .content-input .input {
  /* flex: 1; */
  background: transparent;
  width: 100%;
  border: solid 1px #00000080;
  font-size: 1.2rem;
  border-width: 0 0 1px 0;

  padding: 5px 35px;
}

.Login .modal .button {
  padding: 1.125rem 8.375rem 1rem 8.438rem;
  border-radius: 3.9px;
  background-color: #57bbbc;
  text-transform: uppercase;
  width: 100%;
  color: white;
  border-color: transparent;
}
