.Card {
  width: 90%;
  height: 13rem;
  padding: 1.5rem;
  margin: 10px;
  min-width: 300px;
  max-width: 600px;
  background-color: white;
  display: flex;
}

.Card .img-content {
  width: 40%;
  margin-right: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Card .img-content img {
  width: 100%;
}

.Card .text-content {
  flex-basis: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Card .title {
  margin-bottom: 5px;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a0e49;
}
.Card .category {
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8d8c8c;
}
.Card .country {
  margin-bottom: 5px;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8d8c8c;
}
