.BigCard {
  width: 90%;
  height: auto;
  padding: 1.5rem;
  margin-bottom: 10px;
  min-width: 300px;
  max-width: 800px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BigCard main {
  flex-basis: 1;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.BigCard .img-content {
  width: 100%;
  height: 18.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.BigCard .img-content img {
  height: 100%;
  max-width: 100%;
}

.BigCard .text {
  font-size: 1.2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8d8c8c;
}
